.listContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 12px;
  flex: 0 0 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.listHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}